<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table border="1">
  <thead>
    <tr>
      <th>映画イメージ</th>
      <th>タイトル</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.reverse.each do |movie| %>
      <tr>
        <td><img src=<%= movie.image_url %> alt="画像の取得に失敗しました。"></td>
        <td><%= movie.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>